<!-- build:contentapi -->

<div class="col-sm-7 mt-4">

    <div class="card card-header-actions">

        <div class="card-header alert alert-success">
            <strong> API Upload file : </strong>
        </div>

        <div class="card-body">

            <p>
                <strong> Upload file lên hệ thống MPS </strong> <br>
                - Nếu upload từ server dự án, có thể upload sử dụng secret key.<br>
                - Nếu upload từ client, có thể sử dụng policy signature.<br>
                - Hiện hệ thống giới hạn dung lượng file tối đa là 8GB.<br>
            </p>

            <p> <strong> Endpoint </strong> : GET < API_ENDPOINT>/_/ls </p>

            <div class="table-responsive mt-3">

                <table class="table table-striped table-sm">

                    <thead>
                        <tr>
                            <th>Tham_số</th>
                            <th>Bắt_buộc</th>
                            <th>Loại</th>
                            <th>Nguồn</th>
                            <th>Mô_tả</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td> secret_key</td>
                            <td> Có </td>
                            <td> String</td>
                            <td> Query string</td>
                            <td> Secret key của phân vùng lưu trữ</td>
                        </tr>

                        <tr>
                            <td>dirpath</td>
                            <td>Có</td>
                            <td>String</td>
                            <td>Query string</td>
                            <td>Thư mục của namespace muốn liệt kê file</td>
                        </tr>

                        <tr>
                            <td>page</td>
                            <td>Không</td>
                            <td>Int</td>
                            <td>Query string</td>
                            <td>Kết quả trả về được phân trang </td>
                        </tr>

                    </tbody>

                </table>

            </div>

            <p> <strong> Kết quả trả về </strong> </p>

            <pre>
                            <code>
{
    'directories': mảng danh sách thư mục con cấp 1 của thư mục muốn liệt kê,
    'files': mảng danh sách file nằm trong thư mục muốn liệt kê,
    'page': 'trang/tổng số trang kết quả
}
                            </code> 
                        </pre>

            <div class="table-responsive mt-3">

                <table class="table table-striped table-sm">

                    <thead>
                        <tr>
                            <th>Mã lỗi</th>
                            <th>Mô tả</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td> secret_key</td>
                            <td> Có </td>
                        </tr>

                        <tr>
                            <td>dirpath</td>
                            <td>Có</td>
                        </tr>

                        <tr>
                            <td>page</td>
                            <td>Không</td>
                        </tr>

                    </tbody>

                </table>

            </div>


        </div>
    </div>

</div>

<div class="col-sm-5 mt-4">
    <div class="card card-header-actions">
        <div class="card card-header alert alert-dark">
            <strong> Demo API : </strong>
        </div>

        <div class="card-body">
            <pre>
                    <code>
curl https://mps.mediacdn.vn/_/merge_videos
-F secret_key=xxx
-F in_files=example/1.mp4|example/2.mp4|example/3.mp4
-F out_file=example/4.mp4
-F overwrite=true
                    </code> 
                    </pre>
        </div>

    </div>




</div>

<!-- /build:contentapi -->