<!-- build:main -->
<main>
    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-8">
                <p class="alert alert-success mt-4">
                    <strong> Serving file : </strong> Lấy file đã upload lên storage trước đó
                </p>

                <div class="card">
                    <div class="card-body">  </div>

                
                </div>

            </div>

            <div class="col-sm-4">
                <p class="alert alert-dark mt-4"> 
                    <strong> Demo API : </strong> 
                </p>

            </div>


        </div>
    </div>


</main>

<!-- /build:main -->