
<!-- build:menu -->

<div id="layoutSidenav_nav">

    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">

        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">API quản lý file</div>
                <a class="nav-link" href="#"> Serving file </a>
                <a class="nav-link" href="#"> Rename </a>

                <div class="sb-sidenav-menu-heading">API xử lý video</div>
                <a class="nav-link" href="#"> MergeVideos </a>
                <a class="nav-link" href="#"> api_product_banner_1_1 </a>
                <a class="nav-link" href="#"> api_product_banner_1_2 </a>

                <div class="sb-sidenav-menu-heading">API xử lý video</div>
                <a class="nav-link" href="#"> MergeVideos </a>
                <a class="nav-link" href="#"> api_product_banner_1_1 </a>
                <a class="nav-link" href="#"> api_product_banner_1_2</a>

            </div>
        </div>

        <div class="sb-sidenav-footer">
            <div class="small">Liên hệ sử dụng : adx.admicro.vn </div>
        </div>

    </nav>

</div>

<!-- /build:menu -->